<!DOCTYPE html>
<html>
<head>
    <title>Calculadora de Volumen de Cilindro</title>
</head>
<body>
    <h1>Calculadora de Volumen de Cilindro</h1>
    <form id="cilindroForm">
        <label for="altura">Introduzca el diametro en metros:</label>
        <input type="number" id="altura" name="altura" required><br><br>
        
        <label for="diametro">Introdusca la altura en metros:</label>
        <input type="number" id="diametro" name="diametro" required><br><br>
        
        <input type="button" value="Calcular" onclick="calcularVolumen()">
    </form>

    <div id="resultado"></div>

    <script>
        function calcularVolumen() {
            const altura = parseFloat(document.getElementById("altura").value);
            const diametro = parseFloat(document.getElementById("diametro").value);

            const radio = diametro / 2;
        
            const volumen = Math.PI * Math.pow(radio, 2) * altura;

            document.getElementById("resultado").innerHTML = `
                <h2>Resultado:</h2>
                <p>El volumen del cilindro es ${volumen.toFixed(2)} metros cúbicos.</p>
            `;
        }
    </script>
</body>
</html>